.aboutContainer {
    width: 100%;
    height: 450px;
    margin-bottom: 8em;

    @media (max-width: 1100px) {
        height: 450px;
    }
}

.aboutTop {
    text-align: center;
}

.topText {
    margin-top: 30px;
}

.aboutmiddle {
    display: flex;

    @media(max-width: 600px) {
        flex-direction: column;
    }

    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50em;
}

.middleLeft,
.middleRight {
    height: 100%;
    margin-top: 8px;
    width: min(600px, 95vw);

    border-radius: 10px;


}


.setion1Headline {
    margin: 5PX 15PX;
}

.abotSecimg {
    width: 80%;

    @media(max-width: 600px) {
        width: 100%;
    }
}

.section2Para {
    padding: 10px;
    margin: 10px 10px;

    @media (max-width: 796px) {
        font-size: 10px;
    }

    @media (max-width: 424px) {
        font-size: 7px;
    }
}

.section3 {
    margin: 15px 10px;
    padding: 4px;
}

.section3Items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#Button {

    @media (max-width: 424px) {
        height: 30px;
        width: 50px;
        font-size: 5px;

    }
}

#Button:hover {

    color: white;

}

.logo {
    margin-right: 20px;

    @media (max-width: 740px) {
        height: 0.5em;
        width: 0.8em;
        margin-right: 5px;
        font-size: 0.8rem;
    }

}

.d-block {
    @media (max-width: 881px) {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

}