#error-page-404 {
    display: grid;
    align-items: center;
    place-items: center;
    width: 100%;
    height: 100dvh;
    background-color: rgb(212, 218, 248);
}
#error-page-404 .pageContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:1em;
}
#error-page-404 .pageContainer h1 {
    font-size: 3em;
}
#error-page-404 .pageContainer p {
    opacity: 0.5;
}
#error-page-404 .pageContainer a {
    padding: 0.5em;
    margin: 1em;
    border-radius: 10px;
    background-color: rgb(149, 161, 222);
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

}